<table>
    <tr>
      <th>ID</th>
      <th>Monto</th>
      <th>Comision</th>
      <th>Fecha de Creacion</th>
      <th>Fecha de Actualizacion</th>
      <th>Acciones</th>
    </tr>
  
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.commission }}</td>
      <td>{{ transaction.creationDate }}</td>
      <td>{{ transaction.updateDate }}</td>
      <td>
        <button (click)="edit.emit(transaction)">
          Actualizar
        </button>
      </td>
    </tr>
  </table>
  